* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

/* ======== start-header ========= */

.Logo-text {
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

.HB-icon {
  width: 35px;
  height: 5px;
  background-color: #ffff;
  margin: 6px 0;
}

.bg-img {
  background-image: url("./mock-1-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: -1;
  /* border: 1px solid red; */
}
.container {
  margin-top: 120px !important;
  width: 70%;
  margin: auto;
}

.container h3 {
  text-align: center;
}

.btn-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-head button {
  padding: 10px 20px 10px 20px;
  border-radius: 26px;
  width: 48%;
  margin-top: 50px;
}

.btn-head button:nth-child(1) {
  background-color: crimson;
  color: #ffff;
  text-transform: capitalize;
  font-size: x-large;

  font-style: italic;
}
.btn-head button:nth-child(2) {
  background-color: transparent;
  color: #ffff;
  text-transform: capitalize;
  font-size: x-large;
  font-style: italic;
}
/* ======== end- header ========= */

/* media query */

@media screen and (max-width: 768px) {
  .Logo-text {
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
    line-height: 50px;
  }

  .HB-icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .bg-img {
    background-image: url("./mock-1-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1;
    /* border: 1px solid red; */
  }
  .container {
    margin-top: 120px !important;
    width: 70%;
    margin: auto;
  }

  .container h3 {
    text-align: center;
  }

  .btn-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .btn-head button {
    padding: 10px 20px 10px 20px;
    border-radius: 26px;
    width: 48%;
    margin-top: 50px;
  }

  .btn-head button:nth-child(1) {
    background-color: crimson;
    color: #ffff;
    text-transform: capitalize;
    font-size: medium;
    font-style: italic;
  }
  .btn-head button:nth-child(2) {
    background-color: transparent;
    color: #ffff;
    text-transform: capitalize;
    font-size: large;
    font-style: italic;
  }
}

@media screen and (max-width: 560px) {
  .bg-img {
    height: 600px;
  }
  .btn-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 100%; */
    margin: 50px 0 40px 0;
  }
  .btn-head button {
    padding: 10px 20px 10px 20px;
    border-radius: 26px;
    width: 100%;
    margin-top: 0;
  }
  .btn-head button:nth-child(1) {
    background-color: crimson;
    color: #ffff;
    text-transform: capitalize;
    font-size: medium;
    font-style: italic;
    width: 100%;
  }
  .btn-head button:nth-child(2) {
    background-color: transparent;
    color: #ffff;
    text-transform: capitalize;
    font-size: large;
    font-style: italic;
    width: 100%;
  }
}
/* ======== end header ========= */

/* ======== start content-1 ========= */

.cont-1 {
  /* border: 1px solid yellow; */
  margin: 50px 0;
  padding-bottom: 50px;
}
.p-text-color {
  color: goldenrod;
}

.grid-img-1,
.grid-img-2,
.grid-img-3,
.grid-img-4 {
  background-image: url("./mock-1-img.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  padding: 5rem;
  /* border: 5px solid red; */
}

#mock-1 .cont-1-body {
  display: grid;
  width: 50%;
  margin: auto;
  gap: 20px;
  grid-template-areas:
    "grid-img-1 grid-img-1 grid-img-2 grid-img-2"
    "grid-img-1 grid-img-1 grid-img-2 grid-img-2"
    "grid-img-3 grid-img-4 grid-img-2 grid-img-2"
    "grid-img-3 grid-img-4 grid-img-2 grid-img-2"
    "grid-img-3 grid-img-4 grid-img-2 grid-img-2";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  width: fit-content;
  padding-left: 95px;
}

.grid-img-1 {
  grid-area: grid-img-1;
}

.grid-img-2 {
  grid-area: grid-img-2;
}

.grid-img-3 {
  grid-area: grid-img-3;
}

.grid-img-4 {
  grid-area: grid-img-4;
}

@media screen and (max-width: 764px) {
  .cont-1 {
    margin: 50px 0;
  }
  #mock-1 .cont-1-body {
    display: grid;
    width: 50%;
    margin: auto;
    gap: 20px;
    grid-template-areas:
      "grid-img-1 grid-img-1 "
      "grid-img-1 grid-img-1 "
      "grid-img-3 grid-img-4 "
      "grid-img-3 grid-img-4 "
      "grid-img-2 grid-img-2 "
      "grid-img-2 grid-img-2 "
      "grid-img-2 grid-img-2 ";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(7, auto);
    width: fit-content;
    padding-left: 95px;
  }

  .grid-img-1 {
    grid-area: grid-img-1;
  }

  .grid-img-2 {
    grid-area: grid-img-2;
  }

  .grid-img-3 {
    grid-area: grid-img-3;
  }

  .grid-img-4 {
    grid-area: grid-img-4;
  }
}
@media screen and (max-width: 500px) {
  .cont-1 {
    margin: 90px 0;
  }
  #mock-1 .cont-1-body {
    display: grid;
    width: 100%;
    margin: auto;
    gap: 20px;
    grid-template-areas:
      "grid-img-1"
      "grid-img-1"
      "grid-img-3"
      "grid-img-3"
      "grid-img-4"
      "grid-img-4"
      "grid-img-2"
      "grid-img-2";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(1, auto);
    width: fit-content;
    padding-left: 0;
  }

  .grid-img-1 {
    grid-area: grid-img-1;
  }

  .grid-img-2 {
    grid-area: grid-img-2;
  }

  .grid-img-3 {
    grid-area: grid-img-3;
  }

  .grid-img-4 {
    grid-area: grid-img-4;
  }
}

/* ======== end content-1 ========= */

/* ======== start Apartment-2 ========= */
b {
  text-decoration: underline;
  font-size: medium;
  font-weight: 600;
}

#apartment .grid-body-cont-1,
.grid-body-cont-2,
.grid-body-cont-3,
.grid-body-cont-4 {
  padding: 40px;
}

#apartment .grid-body-img-1,
.grid-body-img-2,
.grid-body-img-3,
.grid-body-img-4 {
  background-image: url("./mock-1-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
}

#apartment,
.cont-1-head,
.cont-2-head {
  /* border: 1px solid red; */
}

#apartment .cont-2-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-template-areas:
    "grid-body-img-1  grid-body-cont-2 grid-body-img-3 grid-body-cont-4"
    "grid-body-cont-1 grid-body-img-2 grid-body-cont-3 grid-body-img-4";
}

.grid-body-img-1 {
  grid-area: grid-body-img-1;
}
.grid-body-img-2 {
  grid-area: grid-body-img-2;
}
.grid-body-img-3 {
  grid-area: grid-body-img-3;
}
.grid-body-img-4 {
  grid-area: grid-body-img-4;
}

.grid-body-cont-1 {
  grid-area: grid-body-cont-1;
}
.grid-body-cont-2 {
  grid-area: grid-body-cont-2;
}
.grid-body-cont-3 {
  grid-area: grid-body-cont-3;
}
.grid-body-cont-4 {
  grid-area: grid-body-cont-4;
}

#apartment .btn-cont-grid {
  display: block;
  margin: auto;
  padding: 5px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

#apartment .btn-cont-grid {
  transition-duration: 0.4s;
}
#apartment .btn-cont-grid:hover {
  background-color: #4caf50;
  color: white;
}

@media screen and (max-width: 768px) {
  #apartment {
    /* border: 1px solid red; */
    top: -91px;
  }
  #apartment .cont-2-body {
    display: grid;
    width: fit-content;
    margin: 0px;
    padding: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 68px;
    grid-template-areas:
      "grid-body-img-1  grid-body-cont-1"
      "grid-body-img-2 grid-body-cont-2"
      "grid-body-cont-3 grid-body-img-4"
      "grid-body-img-3 grid-body-cont-4";
  }

  .grid-body-img-1 {
    grid-area: grid-body-img-1;
  }
  .grid-body-img-2 {
    grid-area: grid-body-img-2;
  }
  .grid-body-img-3 {
    grid-area: grid-body-img-3;
  }
  .grid-body-img-4 {
    grid-area: grid-body-img-4;
  }

  .grid-body-cont-1 {
    grid-area: grid-body-cont-1;
  }
  .grid-body-cont-2 {
    grid-area: grid-body-cont-2;
  }
  .grid-body-cont-3 {
    grid-area: grid-body-cont-3;
  }
  .grid-body-cont-4 {
    grid-area: grid-body-cont-4;
  }

  #apartment .btn-cont-grid {
    transition-duration: 0.4s;
  }
  #apartment .btn-cont-grid:hover {
    background-color: #4caf50;
    color: white;
  }
}

@media screen and (max-width: 500px) {
  #apartment {
    /* border: 1px solid red; */
    margin-top: -90px !important;
  }
  #apartment .cont-2-body {
    display: grid;
    width: 100%;
    margin: 0px;
    padding: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "grid-body-img-1"
      "grid-body-cont-1"
      "grid-body-img-2"
      "grid-body-cont-2"
      "grid-body-img-3"
      "grid-body-cont-3"
      "grid-body-img-4"
      "grid-body-cont-4";
  }

  .grid-body-img-1 {
    grid-area: grid-body-img-1;
  }
  .grid-body-img-2 {
    grid-area: grid-body-img-2;
  }
  .grid-body-img-3 {
    grid-area: grid-body-img-3;
  }
  .grid-body-img-4 {
    grid-area: grid-body-img-4;
  }

  .grid-body-cont-1 {
    grid-area: grid-body-cont-1;
  }
  .grid-body-cont-2 {
    grid-area: grid-body-cont-2;
  }
  .grid-body-cont-3 {
    grid-area: grid-body-cont-3;
  }
  .grid-body-cont-4 {
    grid-area: grid-body-cont-4;
  }

  #apartment .btn-cont-grid {
    transition-duration: 0.4s;
  }
  #apartment .btn-cont-grid:hover {
    background-color: #4caf50;
    color: white;
  }
}

/* ======== end Apartment-2 ========= */

/* ========  start tag ========= */

#tag-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.flex-1,
.flex-2 {
  /* border: 1px solid red; */
  width: 80%;
}

.flex-1,
.flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  padding: 5px 10px;
}

#tag-part .flex-1 p {
  border: 0px;
  padding: 5px;
  background: gray;
}

#tag-part .flex-2 p {
  border: 0px;
  padding: 3px;
  background: gray;
}
/* tag's media query is pending we have to work on it in 768 and 500 max screen  */

/* after the this media query we have to work on the post's section with media query */

/* ======== end tag ========= */
