:root {
  --color-primary: #f69216;
  --white: #fff;
  --dark-color: #24293d;
  --text-color: #f98329;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_img {
  position: absolute;
  width: 260px;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 4));
}

.container {
  background-color: var(--color-primary);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  height: 400px;
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 4rem 2rem 0;
  color: var(--white);
  overflow-y: hidden;
}

.card_data {
  transform: translateY(13.2rem);
  text-align: center;
}

.card_name {
  color: var(--text-color);
  margin-bottom: 5rem;
  font-size: medium;
}

.card_price {
  display: inline-block;
  margin-bottom: 1.25rem;
  font-size: medium;
  font-weight: 500;
}

.card_discription {
  font-size: x-small;
  text-align: initial;
  margin-bottom: 1.25rem;
  opacity: 0;
}

.card_btn {
  text-decoration: none;
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--color-primary);
  padding: 1.125rem 2rem;
  width: max-content;
  display: block;
  font-weight: 600;
  opacity: 0;
  translate: 0.2s;
}

.card_btn:hover {
  box-shadow: 0 18px 40px -12px rgba(242, 162, 12, 0.35);
}
