@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;900&family=Josefin+Sans:wght@400;500;600;700&family=Montserrat:wght@700&family=Poppins:wght@100;200;300&family=Sono:wght@300;400;500;700;800&family=Tilt+Neon&family=Tilt+Warp&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}
label {
  color: #fff;
}

.form-style {
  /* border: 1px solid red; */
  margin-top: 1px;
  width: 80%;
  margin: auto;
  padding: 20px;
}

select {
  padding: 10px !important;
}

input {
  padding: 10px;
}
