.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://cdn.pixabay.com/photo/2023/02/04/09/20/castle-7766794_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* header style start */

.header {
  background-color: orange;
  height: 100px;
}
.cart-div {
  float: right;
  margin: 25px;
  position: relative;
}
.cart-div img {
  width: 30px;
}

.cart-div div {
  position: absolute;
  z-index: 5;
  background-color: green;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #fff;
  top: -10px;
  right: 0;
  text-align: center;
}

/* header style end */

form {
  background-color: #ffff;
  padding: 0px 60px;
  border-radius: 10px;
}

h1 {
  color: rgb(77, 1, 77);
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
