@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Montserrat:wght@700&family=Poppins:wght@200;300&family=Tilt+Warp&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  min-height: 100vh;
  width: 90%;
  /* background: #000; */
  display: flex;
  align-items: center;
  margin: auto;
  perspective: 1000px;
  justify-content: space-evenly;
}

.card {
  width: 500px;
  height: 300px;
  color: #fff;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

.card-no {
  font-size: 35px;
  margin-top: 60px;
}

.card-holder {
  font-size: 12px;
  margin-top: 40px;
}

.name {
  font-size: 22px;
  margin-top: 20px;
}

.bar {
  margin-top: 10px;
  margin-left: -33px;
  margin-right: -33px;
  background-color: #000;
  height: 60px;
}

.card-cvv {
  margin-top: 20px;
}

.card-cvv div {
  flex: 1;
}

.card-cvv img {
  width: 100%;
  display: block;
  line-height: 0;
}

.card-cvv p {
  background: #fff;
  color: #000;
  font-size: 22px;
  padding: 10px 20px;
}

.card-text {
  margin-top: 30px;
  font-size: 14px;
}

.sign {
  margin-top: 30px;
}

.back {
  transform: rotateY(180deg);
}

.card:hover .card-inner {
  transform: rotateY(-180deg);
}

.input-field {
  display: grid;
  grid-column: auto;
  /* border: 1px solid red; */
  width: 500px;
  height: 300px;
}

.div-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div-field div {
  border-bottom: 2px solid #ff2c7d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.div-field input {
  border: none;
  width: 100%;
  height: 30px;
}

.style-p {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0;
}

.div-filed .div-label {
  text-transform: uppercase;
}

.div-in-flex {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* typography */

h1 {
  letter-spacing: 0;
  padding-bottom: 20px;
}

input {
  font-size: larger;
  text-transform: capitalize;
  color: grey;
}

*:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #ff2c7d;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ff2c7d;
}

::placeholder {
  color: #ff2c7d;
  font-size: medium;
  text-transform: capitalize;
}
