* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 2rem;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: #000;
}

body {
  background-color: antiquewhite;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 4%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
table,
td,
th {
  border: 1px solid #add;
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
th,
td {
  padding: 15px;
}

button {
  padding: 15px;
  border: 1px solid;
}

tr > th {
  background-color: teal;
  color: white;
}
